*{
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --heading-color: #171100;
    --primary-background: #FFFCF4;
    --text-color: #5F5B53;
    --primary-color:#FFB900;
    --heading-font:"Sen", "sans-serif";
    --brown-color: #2E2100;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", "sans-serif";
    line-height: 30px;
}

html, body{
    scroll-behavior: smooth;
}

/* Common */
.main-content{
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 118px;
    min-height: 50px;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    padding: 11px 16px;
    border-radius: 999px;
    background-color: var(--heading-color);
    font-size: 1.6rem;
    border: none;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.9;
}

.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2{
    --line-clamp: 2;
}

.break-all{
    word-break: break-all;
}

.heading{
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px; 
    letter-spacing: -0.76px;
    margin-bottom: 16px;
}

.desc{
    margin-top: 16px;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px
}

/* Header */
.header{
    background-color: var(--primary-background);
    padding: 36px 0 8px;
}

.header.fixed{
    position: sticky;
    top: -28px;
    z-index: 1;
}

.logo{
    width: 85px;
    height: 34px;
}

.header .body{
    display: flex;
    align-items: center;
}

.header .nav{
    margin-left: auto;
}

.nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 400;
    line-height: 28px; 
}

.nav a:hover, 
.nav li.active a{
    color: #171100;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}

.nav a{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 21px;
}

.header .action{
    margin-left: 70px;
}

.btn-signup{
    min-width: 144px;
}

.rs-signup{
    min-height: 40px;
    padding: 6px 16px;
    font-size: 1.5rem;
}

.nav li.active a::after{
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 2px;
    left: 21px;
    bottom: 6px;
    background-color: var(--heading-color);
    border-radius: 1px;
}

.hero{
    padding: 56px 0px 65px;
    background-color: var(--primary-background);
}

.hero .body{
    display: flex;
    justify-content: space-between;
}

.media-block{
    position: relative;
}

.hero-image{
    width: 470px;
    border-radius: 20px;
    vertical-align: bottom;
}

.hero-summary{
    width: 270px;
    height: 244px;
    position: absolute;
    bottom: 48px;
    left: 300px;
    border-radius: 12px;
    background-color: var(--white);
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;
}

.hero-summary .item{
    display: flex;
    align-items: center;
}

.hero-summary > .item + .item{
    margin-top: 14px;
}

.hero-summary .icon{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #FFF9E8;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .icon img{
    height: 24px;
    width: 24px;
}

.hero-summary .info{
    margin-left: 4px;
}

.media-block .label{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}

.hero-summary .title{
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.content-block{
    width: 470px;
    margin-top: 64px;
}

.content-block .heading{
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 68px; 
    letter-spacing: -1.16px;
}

.content-block .desc{
    color: var(--text-color);
    font-size: 1.8rem;
    font-style: bold;
    font-weight: 400;
    line-height: 30px;
    margin-top: 22px;
}

.content-block .actions{
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.btn-see-course{
    min-width: 180px;
    min-height: 64px;
    color: #FFF;
    font-size: 1.8rem;
    line-height: 30px;
    border-radius: 32px;
    background-color: var(--primary-color);
}

.content-block .play-btn{
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background-color: transparent;
}

.content-block .play-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

.content-block .play-btn .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white);
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0,0.07);
}

.content-block .text-play{
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    margin-left: 12px;
}


.content-block .statistic{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
    margin-top: 48px;
}

.content-block .statistic .data{
    margin-top: 8px;
}

.content-block .statistic strong{
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 54px;
    padding-right: 8px;
}

.data > .number ~ .number {
  margin-left: 28px;
}

.popular{
    margin-top: 200px;
}

.popular-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top desc{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px;
}

.popular-top .actions{
    display: flex;
    gap: 18px;
}

.popular-top .control-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--white);
}

.popular-top .control-btn:hover{
    cursor: pointer;
    color: var(--white);
    background-color: var(--primary-color);
}

.popular-courses{
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular-course{
    flex: 1;
    border-radius: 12px;
    border: 1px solid #E2DFDA;
}

.popular-course:hover{
    border-color:transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular-course .img-course{
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    height: 278px;
    vertical-align: bottom;
    object-fit: cover;
}

.popular-course .info{
    padding: 16px 22px 22px;
}

.popular-course .info .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-course .head .rating{
    display: flex;
}

.popular-course .title a{
    padding-right: 8px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
}

.popular-course .head .value{
    color: var(--primary-color);
    font-weight: 400;
    line-height: 28px;
    margin-left: 6px;
}

.popular-course .info .desc{
    margin-top: 6px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}

.popular-course .info .foot{
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-course .foot .price{
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px;
}

.popular-course .foot .book-btn{
    border: none;
}

.popular-course .foot .book-btn:hover{
    background-color: var(--primary-color);
}

.feedback{
    margin-top: 200px;
    padding: 96px 0;
    background-color: var(--brown-color);
}

.feedback-list{
    display: flex;
    overflow: hidden;
}

.feedback-item{
    width: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    transform: translateX(-100%);
    transition: all ease 0.3s; 
}

.feedback-item .feedback-info .avatar{
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-item .feedback-info .title{
    margin-top: 18px;
    color: #F7F7F7;
    font-family: var(--heading-font);
    font-size:2.4rem;
    font-weight: 700;
    line-height: 34px;
}

.feedback-item .feedback-info .desc{
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px
}
.feedback-item .dots{
    display: flex;
    margin-top: 28px;
    gap: 6px;
}
.feedback-item .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #634700;
}

.feedback-item .dot.active{
    background-color: var(--primary-color);
    cursor: default;
}

.feedback-item .content{
    width: 66%;
}

.feedback-item blockquote {
    color: var(--white);
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 40px;
}

.features{
    margin-top: 200px;
}

.features .body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature-images{
    display: flex;
    gap: 0 30px;
}

.feature-images .image{
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.feature-images > .image + .image{
    height: 405px;
}

.feature-images .image.lower{
    margin-top: 34px;
}

.feat-sign-up{
    background-color: var(--primary-color);
    min-width: 137px;
    border: none
}

.features .content{
    width: 40%;
}

.features .action{
    margin-top: 32px;
}

.features-2nd .body{
    flex-direction: row-reverse;
}

.features-2nd .content{
    width: 49%;
}

.features-2nd .feature-images .image{
    width: 470px;
    height: 440px;
    border-radius: 20px;
}

.blog{
    margin-top: 200px;
    padding: 96px 0;
    background-color: var(--primary-background);
}

.blog-list{
    display: flex;
    gap: 0 30px;
    margin-top: 55px;
    overflow: hidden;
}

.blog-item{
    width: calc(33.33% - 20px);
    border-radius: 16px;
    background-color: var(--white);
    flex-shrink: 0;
    /* transform: translateX(-100%);
    transition: all ease .3s */
}

.blog-item:hover{
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog-top{
    text-align: center;
}

.blog-top .desc{
    width: 448px;
    margin: 16px auto 0;
}

.blog-item .image{
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}

.blog-item .content{
    padding: 20px 20px 28px;
}

.blog-item .date{
    display: inline-flex;
    align-items: center;
    position: relative;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 12px;
}

.blog-item .date::before{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin-right: 4px;
}

.blog-item .date::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: -27px;
    display: inline-block;
    margin-top: 12px;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;

}

.blog-item .title a{
    color: var(--heading-color);
    font-weight: 600;
    line-height: 28px;
    text-decoration: none;
}

.blog-item .title{
    margin-top: 12px;
}

.blog-item .action{
    margin-top: 12px;
}

.blog-item .btn{
    font-size: 1.4rem;
}

.blog-item .btn:hover{
    background-color: var(--primary-color);
}

.blog .dots{
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 0 6px;
}

.blog .dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color:#5F5B53;
    cursor: pointer;
}

.blog .dot.active{
    background-color: var(--primary-color);
    cursor: default;
}











