*{
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --primary-color: #171100;
    --primary-background: #FFFCF4;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: "Poppins", "sans-serif";
}

/* Common */
.content{
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.btn{
    display: inline-block;
    min-width: 118px;
    text-decoration: none;
    color: var(--white);
    font-weight: 600;
    line-height: 28px;
    padding: 11px 16px;
    border-radius: 24.5px;
    background-color: var(--primary-color);
    text-align: center;
}

/* Header */
.header{
    background-color: var(--primary-background);
    padding: 36px 0 8px;
}

.header.fixed{
    position: sticky;
    top: -28px;
    z-index: 1;
}

.logo{
    width: 85px;
    height: 34px;
}

.header .body{
    display: flex;
    align-items: center;
}

.header .nav{
    margin-left: auto;
}

.nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 400;
    line-height: 28px; 
}

.nav a:hover, 
.nav li.active a{
    color: #171100;
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
}

.nav a{
    position: relative;
    text-decoration: none;
    color: #5F5B53;
    padding: 8px 21px;
}

.header .action{
    margin-left: 70px;
}

.btn-signup{
    min-width: 144px;
}

.rs-signup{
    padding: 6px 16px;
    font-size: 1.5rem;
}

.nav li.active a::after{
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 2px;
    left: 21px;
    bottom: 6px;
    background-color: var(--primary-color);
    border-radius: 1px;
}






